.row
  .login-box.text-center.animated.fadeInDown.share-box
    %div
      =image_tag "QTalkLogo_Aug2015.png", width: "100%", height: "auto"
      .spacer{style: "height:20px;"}
      %h2.white-font 
        Mobile-phone where you want your app installed
      = form_for @share, url: shares_path(user_id: @accountant.id), html: {id: "share-form", remote: true} do |f|
        .form-group
          =f.text_field :phone, placeholder: '(XXX) XXX-XXXX', class: 'form-control phone-mask share-phone', required: :true
        .form-group
          =f.submit 'Submit', class: 'btn btn-lg btn-primary btn-block', id: "submit"
      %p.white-font.text-left.text-indent
        Once you click submit, you will receive a text message with the link to download the mobile app from the app store.
      %p.white-font.text-left.text-indent
        Please note the text message will contain a four-letter code, which must be entered in the 
        %strong Share Code 
        field on the sign up screen.
#share-code-modal.modal.fade{ "data-keyboard" => "false"}
  .modal-dialog
    .modal-content
      .modal-header.text-center
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
        %h1 Congratulations!
      .modal-body
        %p.lead
          Shortly you'll be receiving a text message with a link to install the app in your phone.
        %p.lead
          Please remember to enter Share Code:
          %br
        %p.lead.text-center
          %strong#share-code