.row.flash-notice
  = render partial: "shared/notices"
.row
  .login-box.text-center.loginscreen.animated.fadeInDown
    %div
      %h2.white-font Reset Password
      %p.white-font
        Enter your email and we&rsquo;ll send you instructions for resetting your password.
        = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
          .form-group
            =f.text_field :email, placeholder: 'Email', class: 'form-control', required: :true

          .form-group
            =f.submit 'Send reset instructions', class: 'btn btn-primary btn-block'
          .form-group
            - if mobile_device?
              %a.white-font{href: "inapp://capture", style: "font-size: 23px;"}Back To Sign In
              -puts "mobile"
            -else
              =link_to 'Back To Sign In', new_user_session_path, class: 'white-font'
       