.page-wrapper
  .row
    .col-xs-8.col-xs-offset-2.text-center
      .spacer{style: "height:160px;"}
      =image_tag "QTalkLogo_Aug2015.png", width: "100%", height: "auto"
      .spacer{style: "height:20px;"}
      %p.white-font.qb-index Please click the button below to login through your QuickBooks Online account.
      .spacer{style: "height:30px;"}
  .row
    .col-xs-12.text-center
      =image_tag "QTalkArrow.png", width: "60px", height: "auto", class: "hidden-xs"
      .spacer{style: "height:20px;"}
      %ipp:connectToIntuit{style: "width:400px;"}
      
