<input type="text" id="email" placeholder="email"></br>
<input type="password" id="password" placeholder="password"></br>
<input type="text" id="phone" placeholder="phone"></br>
<input type="text" id="company-name" placeholder="company name"></br>
<input type="text" id="first" placeholder="first"></br>
<input type="text" id="last" placeholder="last"></br>
<input type="hidden" id="token" value="qwoejg94t80q4t9gue0"></br>
<button id = "submit">submit</button>