.row
  .col-sm-12
    =form_tag create_purchase_path( realm_id: @realm_id), :multipart => true  do
      =select_tag "expense_category", options_for_select(@expense_categories)
      =select_tag "bank_account", options_for_select(@bank_accounts)
      =text_field_tag "amount", nil, placeholder: "amount"
      =select_tag "payee",
      options_for_select(@vendors)
      =text_field_tag "description", nil, placeholder: "desc"
      =text_field_tag "date", nil, placeholder: "date"
      =file_field_tag "file"
      =submit_tag "submit"
    