.page-wrapper
  .row
    .col-xs-8.col-xs-offset-2.text-center
      .spacer{style: "height:160px;"}
      =image_tag "QTalkLogo_Aug2015.png", width: "100%", height: "auto"
      .spacer{style: "height:20px;"}
      %p.h3.white-font Congratulations!
      %p.h4.white-font You are connected and ready to go.
  .row
    .col-xs-8.col-xs-offset-2.text-center
      .spacer{style: "height:20px;"}
      %a.finishButton.btn.btn-xl.btn-lg.qb-btn-success{href: "inapp://capture", style: "font-size: 23px;"}Continue