.aright {
  text-align: right !important;
}

.acenter {
  margin: auto !important;
  text-align: center !important;
}

.aleft {
  text-align: left !important;
}

.fright {
  float: right !important;
}

.fleft {
  float: left !important;
}

.defloat {
  float: none;
  clear: both;
}
