.spacer {
  font-size: 0;
  line-height: 0;
  margin: 0;
  padding: 0;
}

._5 {
  height: 5px;
}

._8 {
  height: 8px;
}

._13 {
  height: 13px;
}

._21 {
  height: 21px;
}

._34 {
  height: 34px;
}

._40 {
  height: 40px;
}

._55 {
  height: 55px;
}

._89 {
  height: 89px;
}

._144 {
  height: 144px;
}

._233 {
  height: 233px;
}
