/*global styles */
.qt-blue{
  background-color:#0060BF;
}

.qt-green{
  background-color:#31a039;
}

.grey-border{
  -webkit-box-shadow:0px 0px 0px 3px grey;
  -moz-box-shadow:0px 0px 0px 3px grey;
  box-shadow:0px 0px 0px 3px grey;
  cursor: pointer;
}

.margin-10{
  margin-bottom:10px;
  margin-top:10px;
}

.navbar-static-top {
  border-width: 0 px !important;
}

.white-font{
  color:white !important;
}

/* effects */

.glow {
    -webkit-animation: glow .4s infinite alternate;
    -moz-animation: glow .4s infinite alternate;
    -o-animation: glow .4s infinite alternate;
    animation: glow .4s infinite alternate;
}

@-webkit-keyframes glow {
    to {
       -webkit-box-shadow:0px 0px 0px 3px #FFFFCC;
    }
}
@-moz-keyframes glow {
    to {
       -moz-box-shadow:0px 0px 0px 3px #FFFFCC;
    }
}

@-o-keyframes glow {
    to {
       -o-box-shadow:0px 0px 0px 3px #FFFFCC;
    }
}

@keyframes glow {
    to {
       box-shadow:0px 0px 0px 3px #FFFFCC;
    }
}

/* form-styles */

.login-box {
  height: 400px;
  width: 300px;
  margin-top: 100px !important;
  margin: auto;
  z-index: 100;
}

.bar {
    height: 18px;
}