.gradient-gray{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d0e4f7+0,73b1e7+24,0a77d5+50,539fe1+79,87bcea+100;Blue+Pipe+%231 */
  background: rgb(208,228,247); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(208,228,247,1) 0%, rgba(115,177,231,1) 24%, rgba(10,119,213,1) 50%, rgba(83,159,225,1) 79%, rgba(135,188,234,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(208,228,247,1)), color-stop(24%,rgba(115,177,231,1)), color-stop(50%,rgba(10,119,213,1)), color-stop(79%,rgba(83,159,225,1)), color-stop(100%,rgba(135,188,234,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(208,228,247,1) 0%,rgba(115,177,231,1) 24%,rgba(10,119,213,1) 50%,rgba(83,159,225,1) 79%,rgba(135,188,234,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(208,228,247,1) 0%,rgba(115,177,231,1) 24%,rgba(10,119,213,1) 50%,rgba(83,159,225,1) 79%,rgba(135,188,234,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(208,228,247,1) 0%,rgba(115,177,231,1) 24%,rgba(10,119,213,1) 50%,rgba(83,159,225,1) 79%,rgba(135,188,234,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(208,228,247,1) 0%,rgba(115,177,231,1) 24%,rgba(10,119,213,1) 50%,rgba(83,159,225,1) 79%,rgba(135,188,234,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0e4f7', endColorstr='#87bcea',GradientType=0 ); /* IE6-9 */

}
div#phone-demo-container{
	background: transparent image-url("iphone-6-white.png") 0 0 no-repeat;
	background-size: 300px auto;
	min-height: 620px;
  width:300px;
  margin: auto;
}

div#phone-demo-screen{
	left: 18px;
	top: 72px;
  background: #0060BF;
	color: #f0f0f0;
	width: 265px;
	height: 466px;
	position:relative;
}

.app-studio-container a:hover.btn-info{
  color: white !important;
}

div#phone-demo-brand{
	padding:0px;
	background-color: transparent;
	width: 100%;
	height: auto;
	min-height: 95px;
}

div#description-box{
  padding-top: 10px;
  padding-left: 10px;
	margin: 25px 20px 0px 20px;
	background-color: white;
  color: black;
	height:180px;
  border-radius: 5px;
  font-size: 10px;
}
div#description-box span{
  color: gray;
}
div#code-container{
	margin: 100px 20px 0 20px;
}
div#code-input{
	padding: 10px;
	text-align: left;
	background-color: #aaa;
	height:40px;
	border: #4eb3f0 solid 2px;
	border-radius: 10px;
}
.phone{
	max-width:175px;
	margin:20px;
}
div#log-out-button{
  margin-top: -14px;
  margin-right:15px;
}
div#log-out-button > img{
  width: 43px;
}
div#phone-demo-link-buttons{
	height: 45px;
	color: #fff;
  padding: 0px;
  margin-left:15px;
}
div#phone-demo-link-buttons > div{
	font-size: 13px;
	font-family: helvetica;
	font-weight: 300; 
  display: inline-block; 
  padding:4px; 
  width: 22%;
}

div#phone-demo-website > img{
  width:38px;
}
div#phone-demo-email > img, div#phone-demo-phone > img, div#phone-demo-share > img{
  width:35px;
}

.disabled-link{
    opacity: 0.6;
}

.input-text{
color: black;
background: white;
}

div#phone-demo-buttons > div{
  margin-top:13px;
}
div#phone-demo-submit{
	display: inline-block; 
}

div#phone-demo-submit > img{
  width:110px;
  float:right;
  margin-right:5px;
}
div#phone-demo-talk{
	display: inline-block;
}
div#phone-demo-talk > img{
	width:37px;
  margin-left:4px;
}

.cream-bg{
	background-color: #f3f3f4;
}
div.upload-preview{
	height: 85px;
	margin-top: 30px;
	margin-bottom: 75px;
}
div.upload-preview img{
	max-height: 85px;
	max-width: 160px;
}

div.avatar-upload-preview{
	height: 130px;
	margin-top: 10px;
	margin-bottom: 50px;
}
div.avatar-upload-preview img{
	height: 100%;
	width: auto;
}

div.iphone-logo-preview{
  width: 250px;
  margin: 7px 0px 15px 7px;
}
div.iphone-logo-preview img{
	max-height: 30px;
	max-width: 120px;
	z-index: 999;
	position: relative;
}

div.nav-logo-preview img{
  margin: 5px 0 10px 0;
}
div.nav-logo-preview img{
	max-height: 50px;
  height: auto;
  width: auto;
	max-width: 170px;
}

div#phone-demo-title{
  width: 150px;
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 5px;
}
div#phone-demo-title > div{
  margin-bottom: 0px;
  margin-left: 3px;
  font-family: "Helvetica neue";
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 100;
  padding-left: 0px;
  overflow: hidden;
  max-height:18px;
  min-height:18px;
  min-width: 1px;
  max-width: 156px;
}
  
div.iphone-logo-preview p{
  margin-top: 10px;
	font-size: 15px;
	font-family: "Helvetica Neue" Helvetica;
}
div.iphone-avatar-preview img{
	border-radius: 50%;
	height: 36px;
	width: 36px;
	margin-top:0px;
}

div.iphone-avatar-preview{
	display: inline-block;
	z-index: 998;
  padding: 0px !important;
  width: 38px !important;
}

div.info-form, .modal div.info-form input[type="text"]{
	height:40px;
	padding:0px 15px;
  color: #4D4D4D;
  margin-bottom: 10px;
}

div.header{
	height:70px;
	padding:20px 15px;
  color: #4D4D4D;
  margin-bottom:50px;
}

div.header > input{
  height: 50px !important;
  padding: 0 35px;
  font-size: 30px;
  border-radius: 10px;
}

div.header > label{
  color: white;
  font-size: 20px;
}
div#avatar-title-container{
	top: 0px;
}

.bottom-fixed{
  bottom: -50px;
  position: relative;
}

div#phone-demo-ui{
  height: 315px;
  width: 100%;
  left: 0;
  position: relative;
  margin-top: 7px;
}

/* modals */

#misc-text-modal .modal-dialog, #avatar-modal .modal-dialog{
  margin-top: 260px;
}

#logo-modal .modal-dialog{
  margin-top: 210px;
}

#website-modal .modal-dialog, #phone-modal .modal-dialog, #email-modal .modal-dialog, #share-modal .modal-dialog{
  margin-top: 330px;
}